<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Ассистент | Вход</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">

    <script type="text/javascript" src="jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="login.js"></script>
</head>

<body>
<div class="main_block">
    <div class="main_block_element">
        <p>АССИСТЕНТ</p>
        <img src="rosatom_logo.png" alt="РосАтом" class="logo">
        <p>РОСАТОМ&nbsp;&nbsp;</p>
    </div>
    <p class="main_block_element">Вход</p>
    <p th:if="${param.error}" class="main_block_element" style="color: #FF1C19;">Неверный логин или пароль</p>
    <div>
        <form th:action="@{/login}" method="POST">
            <input type="text" id="email" name="login" th:placeholder="Логин..." class="text_field inline_element"/>
            <br/>
            <input type="password" th:placeholder="Пароль..."
                   id="password" name="password" class="text_field inline_element"/>
            <br/>
            <div class="main_block_element login_buttons_block">
                <button name="Submit" value="Login" type="Submit" th:text="Войти" class="inline_element btn"></button>
                <a href="/registration" class="inline_element">Зарегистрироваться</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>