<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>

    <script type="text/javascript" src="jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="registration.js"></script>
</head>
<body>
<a href="/login">Login Page</a>
<p>Registration</p>
<input id="loginTextBox" th:placeholder="Login">
<br>
<input id="passwordTextBox" th:placeholder="Password">
<br>
<button onclick="register()">Register</button>
</body>
</html>